



/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#addProduct,#deleteProduct,#updateProduct,#addTeam,#deleteTeam,#updateTeam,#addNews,#deleteNews,#updateNews,#updateProfile,#updatePassword,#imageview,#deleteImage{
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto;
z-index:2000;
text-align:center;
}
/*img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer;
border-radius:50%;
}*/
#popupAdd,#popupUpdate,#popupimage {
position:fixed;
left:50%;
top: 50%;
transform: translate(-50%,-50%);
z-index:3000;
}
#popupimage {
position:fixed;
left:50%;
top: 50%;
transform: translate(-50%,-50%);
z-index:3000;
}
#popupDelete
{
position:fixed;
left:50%;
top: 50%;
transform: translate(-50%,-50%);
z-index:3000;
}
.popup form{
max-width:600px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff
}

div.center-cropped {
  width: 250px;
  height: 250px;
  overflow:hidden;
}
div.center-cropped img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.flappy-dialog form input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}

.popup form input[type=file] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
.popup form input[type=password] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
.popup form input[type=date] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
/*#name {
background-repeat:no-repeat;
background-position:5px 7px
}
#email {
background-repeat:no-repeat;
background-position:5px 7px
}*/
.profileRow
{
  margin-top: 50px;
}
.profileview ~ tr
{
  margin:30px 0px;
}
#submit {
text-decoration:none;
width:85%;
text-align:center;
display:block;
background-color:#008000;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-top: 40px;
margin-left:37px;
}

#popup {
padding-left:1px;
padding-right: 1px;
border-radius:3px;
background-color:green;
 position:absolute; 
 margin-left: 1030px; 
 margin-top: -16px;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
}


/*********************************************************/


 @import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,700,800);

/*body {
  background-color: #2e2e2e;
  
  perspective: 500px;
}*/

.flappy-dialog {
  background-color: #ffffff;
  border-radius: 25px;
  
  text-align: center;
  
  display: block;
  margin: 100px auto;
  width: 700px;
 /* overflow: hidden;*/
  
  transform-origin: center center;
  
  transition: transform 0.4s ease;
}

.flappy-dialog.hidden {
  transform: rotateX(-90deg);
}

.flappy-dialog h2 {
  color: #8F69E8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 3.5;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  
  margin: 0;
  padding: 0;
}

.flappy-dialog h1 {
  color: #666666;
  
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 1.8;
  font-weight: 200;
  
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
}

.flappy-dialog h3 {
  color: #888888;
  
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  
  display: block;
  margin: 0 auto;
  margin-bottom: 4em;
  padding: 0;
  width: 280px;
}

.flappy-dialog .flappy-dialog-buttons {
  background-color: #2e2e2e;
  overflow: hidden;
  position: relative;
  
  perspective: 500px;
}

.flappy-dialog button {
  color: rgba(255, 255, 255, 0.95);
  background-color: #8F69E8;
  border: none;
  
  font-size: 25px;
  font-weight: 500;
  line-height: 3;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  width: 290px;
  padding: 0 2em;
  
  transform-origin: 50% 0%;
  transition: transform 0.75s cubic-bezier(0.5, 3, 0.65, 0.45) 0.3s;
}

.flappy-dialog button + button {
  transition-delay: 0.35s;
}

.flappy-dialog.hidden button {
  transform: rotateX(-90deg);
}

.flappy-dialog button:hover {
  background-color: #865FDF;
  
  transition: background-color: 0.15s ease 0s, transform 0.15s ease 0s;
  transition-delay: 0s, 0s;
  transform: rotateX(-20deg);
}
.flappy-dialog form input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}

.flappy-dialog .left-flap,
.flappy-dialog .right-flap
{
  background-color: #865FDF;
  border-bottom-left-radius: 25px;
  
  display: block;
  margin: 0;
  padding: 0;
  width: 208px;
  
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  
  transform-origin: 50% 0%;
  transition: transform 0.75s cubic-bezier(0.5, 3, 0.65, 0.45) 0.25s;
}

.flappy-dialog .right-flap {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 25px;
  
  left: auto;
  right: 0;
  
  transition-delay: 0.4s;
}

.flappy-dialog.hidden .left-flap,
.flappy-dialog.hidden .right-flap
{
  transform: rotateX(-90deg);
}


.flappy-dialog select {
    margin-top: 15px;
    width: 82%;
    height: 45px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 61px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
    font-family: raleway;
    border-radius: 0px;
}